/* PC */
@media (min-width: 1024px){

}

/* Tablet */
@media (min-width: 740px) and (max-width:1023px){
}    

/* Mobile */
@media (max-width: 740px){
    #menu{
        display: none;
    }

    .content-sec{
       flex-direction: column; 
    }

    .design{
        flex-direction: column;
    }

    .team{
        flex-direction: column;
    }

    .mumber-big{
        flex-direction: column;
    }

    .image{
        flex-direction: column;
        text-align: center;

    }

    .image-one{
        flex-direction: column;
        text-align: center;

    }

    .our-skills{
        flex-direction: column;
        
    }
    .chart{
        width: 100%;
    }

    .mt-64{
        flex-direction: column;
        
    }

    .pricing .pricing-basic,
    .pricing .pricing-pro,
    .pricing .pricing-premium{
        width: 100%;
    }

    .text2{
        
        font-size: 10px;
    }

    .text1{
        
    }

    .menu-bar{
        display: block;
    }
    
}
